version: 2.1

orbs:
  maven: circleci/maven@1.4.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0
    steps:
      - checkout
      - maven/with_cache:
          steps:
            - run:
                name: Build and Test
                command: mvn clean package
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/purnima-1.0.0.jar

workflows:
  build-only:
    jobs:
      - build